    /*
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    min-height: 100%;
    }
*/

.menu {
    /*
    min-height: 100%;
    height: 100%;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
*/
    width: 500px;
    margin: auto;
    text-align: center;
    
}

#logo{
    width: 300px;
}

.inputs {
    
}

#text{
    display: block;
    width: 100%;
    margin: 20px 0px;
    height: 33px;
    border-radius: 25px;
    border-color: #CCC;
    padding-left: 15px;

}
#text:focus{
    outline: none;
}


#boton-search{
    padding: 7px 15px;
    margin: auto;
}

#boton-lucky{
    padding: 7px 15px;
    margin: auto;
}
