body{
    display: block;
    font-family: arial,sans-serif;
    font-size: 14px;
    min-height: 100%;
    overflow: auto;
}

.header{
    width: auto;
    padding: 0;
    margin: 23px 16px;
    height: auto;

}

.results{
    height: 100%;
    position: absolute;
    left: 180px;
    width: 750px;
    
}

.total-results{
    color: #70757a
}

.notice{

    margin: 10px 10px 30px 0px;
}


.results h3{
    color: #1a0dab;
    margin: 8px 0;
}

.notice span{
    width: 100%;
}


#logo{
    display:inline-block;
    width: 95px;
    top: 30px;
}




.buscador{

    display:inline-block;

    border-radius: 25px;
    border-color: #CCC;
    padding-left: 15px;
    width: 670px;

    height: 48px;
    line-height: 39px;

    position: absolute;
    
    left: 160px;

    border: transparent;
    box-shadow: 1px 1px 3px gray;

    align-content: center;

}

.buscador:hover{
    
    box-shadow: 1px 1px 5px gray;
}

#text{
    font-size: 16px;
    position: absolute;
    left: 2px;
    top:2px;
    border-radius: 25px;
    padding-left: 20px;
    width: 96%;
    height: 90%;
    border:transparent;
}

#text:focus{
    outline: none;
    
}

.botones{
    position: absolute;
    
    margin:0;
    padding: 0;


    right: 18px;
    top: 10px;
    width: 80px;
    height: 50%;
    
    
}

.buscador:hover{
    box-shadow: 1px 1px 5px gray;
}

.buton-search{

    position: absolute;
    right: 0;
    bottom:-10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: blue;
    border: transparent;
}

.buton-search:hover{
    box-shadow: 1px 1px 5px gray;
}

.borrar-texto{
    display: none;
}

.activo{
    display: block;
    position: absolute;
    border: transparent;
    width: 40px;
    height: 40px;
    bottom:-10px;
    right: 50px;
    
    font-size: 20px;
    
    
}
.borrar-texto:hover{
    box-shadow: 1px 1px 5px gray;
}

.loading-container{
    margin: 10% auto;
    width:20%;
    height: 20%;
    display: none;
}

.loading-active{
    display: block;
}

#loading-foto{
    width: 100%;
}
